In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from sqlalchemy import MetaData 
import mysql.connector
from sqlalchemy import *
from mysql.connector import *
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import joblib

In [2]:
engine = create_engine(f'mysql+mysqlconnector://basra:dbbikes11@dbbikes.cyfo0q3xoqx7.us-east-1.rds.amazonaws.com/dbbikes', echo=False)

In [3]:
connection = f"""
select s.number, a.available_bike_stands, w.rain_1h, w.temp, w.wind_speed, DAYNAME(a.last_update) as DayName
        from dbbikes.availability a
        inner join dbbikes.station s
        on s.number = a.number
        inner join dbbikes.hourly w
        on a.last_update = w.dt
        order by s.name"""

In [4]:
df = pd.read_sql(connection, engine)
# AND DAYNAME(a.last_update) = Monday

In [5]:
df

       number  available_bike_stands  rain_1h    temp  wind_speed    DayName
0         108                     22      0.0  285.50        4.69    Tuesday
1         108                     22      0.0  285.64        4.81    Tuesday
2         108                     22      0.0  285.86        4.97    Tuesday
3         108                     22      0.0  286.15        4.37    Tuesday
4         108                     22      0.0  286.35        4.35    Tuesday
...       ...                    ...      ...     ...         ...        ...
61579      51                     29      0.0  278.33        1.91  Wednesday
61580      51                     29      0.0  278.27        1.99  Wednesday
61581      51                     29      0.0  278.27        1.97  Wednesday
61582      51                     29      0.0  278.41        2.14  Wednesday
61583      51                     29      0.0  278.47        2.31  Wednesday

[61584 rows x 6 columns]

# Reviewing and Cleaning data

# removing any white spaces in the name
df.columns = df.columns.str.replace(' ', '')

In [6]:
df.columns

Index(['number', 'available_bike_stands', 'rain_1h', 'temp', 'wind_speed',
       'DayName'],
      dtype='object')

In [7]:
df.head()

   number  available_bike_stands  rain_1h    temp  wind_speed  DayName
0     108                     22      0.0  285.50        4.69  Tuesday
1     108                     22      0.0  285.64        4.81  Tuesday
2     108                     22      0.0  285.86        4.97  Tuesday
3     108                     22      0.0  286.15        4.37  Tuesday
4     108                     22      0.0  286.35        4.35  Tuesday

In [8]:
df.head(5)

   number  available_bike_stands  rain_1h    temp  wind_speed  DayName
0     108                     22      0.0  285.50        4.69  Tuesday
1     108                     22      0.0  285.64        4.81  Tuesday
2     108                     22      0.0  285.86        4.97  Tuesday
3     108                     22      0.0  286.15        4.37  Tuesday
4     108                     22      0.0  286.35        4.35  Tuesday

In [9]:
df = df.loc[:,~df.columns.duplicated()]

In [10]:
df['available_bike_stands'] = df['available_bike_stands'].astype('int64')

In [11]:
df.tail(5)

       number  available_bike_stands  rain_1h    temp  wind_speed    DayName
61579      51                     29      0.0  278.33        1.91  Wednesday
61580      51                     29      0.0  278.27        1.99  Wednesday
61581      51                     29      0.0  278.27        1.97  Wednesday
61582      51                     29      0.0  278.41        2.14  Wednesday
61583      51                     29      0.0  278.47        2.31  Wednesday

In [12]:
df.shape

(61584, 6)

In [13]:
df.dtypes

number                     int64
available_bike_stands      int64
rain_1h                  float64
temp                     float64
wind_speed               float64
DayName                   object
dtype: object

In [14]:
df.isna().sum()

number                   0
available_bike_stands    0
rain_1h                  0
temp                     0
wind_speed               0
DayName                  0
dtype: int64

In [15]:
df.isnull().sum()

number                   0
available_bike_stands    0
rain_1h                  0
temp                     0
wind_speed               0
DayName                  0
dtype: int64

# Convert categorical feature into numeric attribute

In [16]:
df.sum().index.values

array(['number', 'available_bike_stands', 'rain_1h', 'temp', 'wind_speed',
       'DayName'], dtype=object)

#  Checking the correlation between humidity and available bike stands

In [17]:
rain_1h = df[['rain_1h','available_bike_stands']]
rain_1h.corr()

                        rain_1h  available_bike_stands
rain_1h                1.000000               0.023702
available_bike_stands  0.023702               1.000000

In [18]:
## checking null values
df.isnull().sum()

number                   0
available_bike_stands    0
rain_1h                  0
temp                     0
wind_speed               0
DayName                  0
dtype: int64

In [19]:
df.dtypes

number                     int64
available_bike_stands      int64
rain_1h                  float64
temp                     float64
wind_speed               float64
DayName                   object
dtype: object

In [20]:
df.describe()

,number,available_bike_stands,rain_1h,temp,wind_speed
count,61584.000000,61584.000000,61584.000000,61584.000000,61584.000000
mean,60.315666,21.207327,0.035156,281.085568,4.039108
std,33.483916,9.052138,0.156051,3.215031,2.543349
min,2.000000,0.000000,0.000000,270.350000,0.050000
25%,32.000000,15.000000,0.000000,278.830000,2.210000
50%,59.000000,21.000000,0.000000,281.070000,3.160000
75%,90.000000,28.000000,0.000000,283.430000,5.350000
max,117.000000,40.000000,5.620000,291.970000,14.050000

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

# for prediction

In [22]:
df

       number  available_bike_stands  rain_1h    temp  wind_speed    DayName
0         108                     22      0.0  285.50        4.69    Tuesday
1         108                     22      0.0  285.64        4.81    Tuesday
2         108                     22      0.0  285.86        4.97    Tuesday
3         108                     22      0.0  286.15        4.37    Tuesday
4         108                     22      0.0  286.35        4.35    Tuesday
...       ...                    ...      ...     ...         ...        ...
61579      51                     29      0.0  278.33        1.91  Wednesday
61580      51                     29      0.0  278.27        1.99  Wednesday
61581      51                     29      0.0  278.27        1.97  Wednesday
61582      51                     29      0.0  278.41        2.14  Wednesday
61583      51                     29      0.0  278.47        2.31  Wednesday

[61584 rows x 6 columns]

In [23]:
y = df.available_bike_stands

# Y = pd.DataFrame(df1["available_bike_stands"])
X = df.loc[:,['number', 'rain_1h', 'temp', 'wind_speed', 'DayName']]
#         22av       108   0.0   286.335   4.35  Tuesday


print(X.shape)
print(y.shape)

(61584, 5)
(61584,)

In [24]:
X.head()

   number  rain_1h    temp  wind_speed  DayName
0     108      0.0  285.50        4.69  Tuesday
1     108      0.0  285.64        4.81  Tuesday
2     108      0.0  285.86        4.97  Tuesday
3     108      0.0  286.15        4.37  Tuesday
4     108      0.0  286.35        4.35  Tuesday

In [25]:
X.dtypes

number          int64
rain_1h       float64
temp          float64
wind_speed    float64
DayName        object
dtype: object

from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['number', 'rain_1h', 'temp', 'wind_speed', 'DayName']]= \
X.loc[:,['number', 'rain_1h', 'temp', 'wind_speed', 'DayName']].apply(enc.fit_transform)

In [26]:
enc = LabelEncoder()
X.loc[:,['DayName']]= \
X.loc[:,['DayName']].apply(enc.fit_transform)

In [27]:
X.DayName.unique()

array([5, 3, 6, 0, 1, 4, 2])

In [28]:
X.dtypes

number          int64
rain_1h       float64
temp          float64
wind_speed    float64
DayName         int64
dtype: object

X = X.astype(int)

In [29]:
print(X.shape)
print(y.shape)

(61584, 5)
(61584,)

In [30]:
# Split the dataset into two datasets: 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0)

# print("original range is: ",df.shape[0])
# print("training range (70%):\t rows 0 to", round(X_train.shape[0]))
# print("test range (30%): \t rows", round(X_train.shape[0]), "to", round(X_train.shape[0]) + X_test.shape[0])

In [31]:
model = RandomForestRegressor()

model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [36]:
RandomForestRegressorstats(fit)

NameError: name 'RandomForestRegressorstats' is not defined

In [32]:
y_predict

array([24.25     , 25.32     , 19.97     , ..., 11.3697619, 27.8      ,
       30.       ])

In [33]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE: ", mean_absolute_error(y_test,y_predict))
r2_score(y_test, y_predict)

MAE:  1.5886421556463979

0.8812551225138576

In [35]:
print('Random Forest')
evaluate(model, X_test, y_test)

Random Forest

NameError: name 'evaluate' is not defined

In [34]:
from joblib import dump, load

In [35]:
joblib.dump(model, 'availabilitypredictions.joblib')

['availabilitypredictions.joblib']

dump( RandomForestRegressor, 'RF.model')

model = loaded_model = load('RF.model')